header { 
    background-color: #2c3d4e;
    padding: 30px 0;
}

.caja_1{  
    width: 88%;
    position: relative;
    padding: 0;
    margin: 0 auto;
}

header img{ 
    border-radius: 25px;
    opacity: 0.5;
}

nav { 
    position: absolute;
    top: 110px;
    right: 0; 
    left: 70%;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.resalto_etiquetas_navegacion:hover{ 
    color: burlywood;
    text-decoration: underline;
}

main{ 
    width: 948px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form legend{ 
    display: block;
    font-size: 20px;
    margin: 10px;
}

.input_padron{
    display: block;
    margin:0 10px ;
    padding: 10px 25px;
    width: 50%;
}

.seleccinar_opcion{ 
    display: block;
    margin: 0 10px;
    padding: 10px;

}

.checkbox{ 
    margin: 20px 0;
    padding: 10px;
}

.boton_enviar_formulario{ 
    display: block;
    margin: 20px ;
    padding: 15px ;
    width: 40%;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: rgb(36, 33, 33);
    border: none;
    border-radius: 15px;
    transition: 2s all;
    cursor: pointer;

}

.boton_enviar_formulario:hover{
    background: rgb(231, 206, 206);
    transform: scale(1.20) rotate(5deg);

}

table{ 
    margin: 60px 60px;
    
}

thead{ 
    background: #2c3d4e;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid black;
    padding: 10px 15px;
}

footer{
    text-align: center;
    background: rgba(168, 166, 166, 0.767);
    padding: 40px;
}

.Copyrigth{
    color: white;
    font-size: 13px;
    margin: 20px;
}

.iamgen_footer{ 
    border-radius: 600px;
}


/*responce*/

@media screen and (max-width:480px) { 
    h1{
        text-align: center;
    }

    nav{
        position: static;
    }

    .inicio {
        width: 360px;
    }
    
    .input-padron {
        width: 85%;
        margin: 0 0 10px;
        padding: 10px 23px;
    }
    
    form label {
        margin: 0 0 15px;
    }
    
    select {
        width: 50%;
        font-size: 20px;
        margin: 13px 0;
    }
    
    .boton_enviar_formulario {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: auto;
        
    }
    
    table {
        margin: 5% auto;
    }
}



  
  

